* {
  box-sizing: border-box;
}

body {
  background-color: seashell;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

h2 {
  color: grey;
}

.balance {
  text-align: center;
  color: grey;
}

.income-expense {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group.expense {
  position: absolute;
  top: 35%;
  left: 60%;
}

.input-group.income {
  position: absolute;
  top: 35%;
  left: 10%;
}

.submit {
  width: 7%;
  margin-left: 11%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;
  color: white;
}

.submit:focus {
  outline: 0;
}

.submit.income {
  background-color: mediumseagreen;
}

.submit.expense {
  background-color: tomato;
}

.submit:active {
  transform: scale(0.98);
}

.delete-btn {
  font-size: 16px;
  padding: 2px 7px;
  color: red;
  background-color: seashell;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -30px;
}

.delete-btn:focus {
  outline: 0;
}

.delete-btn:active {
  transform: scale(0.9);
}

.delete-btn:hover {
  background-color: unset;
  color: red;
}

.label {
  margin: 10px 0;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.transaction.income {
  background-color: mediumseagreen;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 1rem;
  list-style-type: none;
}

.transaction.expense {
  background-color: tomato;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 1rem;
  list-style-type: none;
}

.transactions-income {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30%;
  right: 68%;
}

.transactions-expense {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30%;
  left: 67%;
}

.transaction-list.income {
  position: absolute;
  top: 50px;
  left: 60px;
  padding: 5px 10px;
  color: white;
}

.transaction-list.expense {
  position: absolute;
  top: 50px;
  left: 60px;
  padding: 5px 10px;
  color: white;
}
